body {
  background: url(img/space.jpg);
  background-size: cover;
}

h3, p, nav li, nav a {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

h1, h2, nav>a {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  color: white;
}

h1 {
  font-size: 87px;
}

.jumbo h2 {
  color: grey;
  font-size: 50px;
  float: right;
}

section h2 {
  font-size: 25px;
}

.jumbo {
  padding: 200px 40px;
}

h3 {
  font-weight: 900;
  text-transform: uppercase;
  color: #c3322f;
}

nav>a {
  float: left;
  padding: 20px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

section {
  background-color: rgba(255,255,255,0.2);
  width: 80%;
  margin: 20px auto;
  padding: 40px;
}

.jumbo button {
  padding: 20px;
  display: inline-block;
  position: absolute;
  bottom: 0;
}

#blog article {
  display: inline-block;
  width: 33%;
}

#projects article {
  float: left;
  margin: 0 20px;
}
nav, footer {
  background: black;
  color: white;
  position: fixed;
  width: 100%;
  margin: 0;
}

nav {
  margin-top: -20px;
  min-height: 60px;
}

footer {
  position: relative;
}

aside {
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 20px;
}

nav ul {
  list-style-type: none;
  float: right;
  padding: 20px
}

nav li {
  display: inline;
  padding: 0 20px;
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */