article h1 {
  color: #444;
}
article p {
  color: #444;
}
article p.disclaimer {
  color: #444;
}
header {
  padding: 20px;
  background: #ccc;
  font-size: 16px;
  margin: 0 0 20px 0;
}
article {
  margin: 0 0 20px 0;
  font-size: 14px;
  padding: 20px;
  margin-bottom: 20px;
}
p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-family: tahoma, arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}
